<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{!-- Reset CSS --}}
	<link href="/stylesheets/reset.css" rel="stylesheet">

	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    {{!-- Google Font CSS --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
	
    <!-- Customized CSS-->
	<link href="/stylesheets/style.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

    <!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Inventory Management System</title>
</head>
<body>
	<nav class="members_fixed_btn">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center"><img src="" width="90px" alt="brand image"></a>
			<a href="#" data-activates="modible-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/">Lists</a></li>
				<li><a href="/post">Post</a></li>
				<li><a href="/account">Account</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			<ul class="side-nav" id="modible-demo">
				<!-- id should match data-activates-->
				<li class="orange darken-3" style="padding: 0.5rem; margin-bottom: 20px"><a href="#"><img
							src="" width="45px"><sup
							style="font-size:20px; margin-left:35px; color:white;">BEAR SHARE</sup></a></li>
				<li><a href="/">Lists</a></li>
				<li><a href="/post">Post</a></li>
				<li><a href="/account">Account</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			<ul class="nav-wrapper right hide-on-large-only" id="user_account_id">
				<!-- id should match data-activates-->
				<li><a href="/account"><i class="fas fa-user-circle" style="font-size:2.5rem;"></i></a></li>
			</ul>

		</div>

	</nav>


    {{{ body }}}


    <!-- jQuery Js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Materialize Js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>