<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{!-- Reset CSS --}}
	<link href="/stylesheets/reset.css" rel="stylesheet">

	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	{{!-- Google Font CSS --}}
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">

	<!-- Customized CSS-->
	<link href="/stylesheets/style.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<title>Inventory Management System</title>
</head>

<body>
	<nav class="blue lighten-4 black-text">
		<div class="nav-wrapper nav-text">
			<a href="/" class="brand-logo"><img src="/img/wavemg_logo.png" width="200px" alt="brand image"
					style="margin-top:10px;"></a>
			<a href="#" data-activates="modible-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/">HOME</a></li>
				<li><a href="/viewAll">View All</a></li>
				<li><a href="/itemIn">Item In</a></li>
				<li><a href="/itemOut">Item Out</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			<ul class="side-nav" id="modible-demo">
				<!-- id should match data-activates-->
				<li class="blue lighten-4" style="padding: 0.5rem; margin-bottom: 20px"><a href="/"><img
							src="/img/wavemg_logo.png" width="100px"></a></li>
				<li><a href="/">View All</a></li>
				<li><a href="/post">Item In</a></li>
				<li><a href="/account">Item Out</a></li>
				<li><a href="/logout">Logout</a></li>
			</ul>
			<ul class="nav-wrapper right hide-on-large-only" id="user_account_id">
				<!-- id should match data-activates-->
				<li><a href="#"><i class="fas fa-user-circle" style="font-size:2.5rem;"></i></a></li>
			</ul>

		</div>

	</nav>


	{{{ body }}}


	<footer class="page-footer blue lighten-4">
		<div class="container">
			<div class="row">
				<div class="col l6 m8 s12" style="margin-bottom: 10px;">
					<h5 class="black-text">Inventory Management System</h5>
					<p class="black-text text-lighten-4"></p>
					<div class="row">
						<div class="col l5 m5 s12" style="margin-left:10px;">
							<ul>
								<li><a class="grey-text" href="/">View All</a></li>
								<li><a class="grey-text" href="#">Add new item</a></li>
							</ul>
						</div>
						<div class="col l5 m5 s12" style="margin-left:10px;">
							<ul>
								<li><a class="grey-text" href="/itemIn">Item In</a></li>
								<li><a class="grey-text" href="/itemOut">Item Out</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container center black-text">
				© 2020 Copyright Wavemg corp.
			</div>
		</div>
	</footer>


	<div class="fixed-action-btn">
		<a class="btn-floating btn-large red">
			<i class="large material-icons">mode_edit</i>
		</a>
		<ul>
			<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
			<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
			<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
			<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
		</ul>
	</div>

	<!-- jQuery Js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Materialize Js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	<!-- this is for MarterializeCSS-->
	<script>
		$(".button-collapse").sideNav();
	</script>

	<!-- Public Js -->
	<script type="text/javascript" src="/js/newPackage.js"></script>
	<script type="text/javascript" src="/js/uploadcsv.js"></script>
	<script type="text/javascript" src="/js/newcymbals.js"></script>
	<script type="text/javascript" src="/js/uploadCymbalCSV.js"></script>
	<script type="text/javascript" src="/js/viewAll.js"></script>
</body>

</html>