<div class="row" id="fixedScreenSize">
    <div class="col s2 m2 l2" id="leftMenu">
        <div class="main-menu">
            <a href="/">
                <p class="leftMenuLetter"><i class="fas fa-columns iconMargin"></i> Dashboard</p>
            </a>
            <a href="/cymbals">
                <p class="leftMenuLetter"><i class="fas fa-bullseye iconMargin"></i> Cymbals</p>
            </a>
            <a href="#">
                <p class="leftMenuLetter"><i class="fas fa-concierge-bell iconMargin"></i> Orders</p>
            </a>
            <a href="#">
                <p class="leftMenuLetter"><i class="fas fa-shopping-bag iconMargin"></i> Purchase</p>
            </a>
            <a href="#">
                <p class="leftMenuLetter"><i class="fas fa-boxes iconMargin"></i> Products</p>
            </a>
        </div>
    </div>
    <div class="col s10 m10 l10" id="rightMenu">
        <div class="row center-align">
            <a href="#!" id="addCymbals">
                    <div class="card-panel hoverable menuOnView left" style="width:200px; margin-right:40px;">
                        <i class="fas fa-plus"> Add Cymbal</i>
                    </div>
            </a>
            <a href="#!" id="addCymbalPacks">
                    <div class="card-panel hoverable menuOnView left" style="width:200px;">
                        <i class="fas fa-folder-plus"> Add New Pack</i>
                    </div>
            </a>
        </div>
        <div class="resultWindow z-depth-2">
            <div id="searchWindowOnView">
                <form class="col s12 m12 l12">
                    <div class="row">
                        <div class="col s12 m3">
                            <select name="category01" class="browser-default post_input_boader validateCat"
                                id="category01onView">
                                <option value="all" disabled selected>Category01</option>
                                <option value="all">All</option>
                                <option value="zildjian">Zildjian</option>
                                <option value="sabian">Sabian</option>
                            </select>
                        </div>
                        <div class="col s12 m3">
                            <select name="category02" class="browser-default post_input_boader validateCat"
                                id="category02onView">
                                <option value="all" disabled selected>Category02</option>
                                <option value="all">All</option>
                                <option value="ride">Ride</option>
                                <option value="hi-hats">Hihats</option>
                                <option value="crash">Crash</option>
                                <option value="splash">Splash</option>
                            </select>
                        </div>
                        <div class="col s12 m3">
                            <select name="Size" class="browser-default post_input_boader validateCat" id="sizeonView">
                                <option value="all" disabled selected>Size</option>
                                <option value="all">All</option>
                                <option value="14">14 inch</option>
                                <option value="15">15 inch</option>
                                <option value="16">16 inch</option>
                                <option value="17">17 inch</option>
                                <option value="18">18 inch</option>
                                <option value="19">19 inch</option>
                                <option value="20">20 inch</option>
                                <option value="21">21 inch</option>
                            </select>
                        </div>
                        <div class="col s12 m3">
                            <button id="searchCymbals" class="btn white-text waves-effect blue">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Display cymbals -->
            <div id="resultOfsearch"></div>

            <div id="displayPackwithCymbals"></div>
            <div class="row"></div>
            <!-- Display cymbals -->

            <!-- Display Add cymbals window -->
            <div id="addCymbalsWindow"></div>
            <!-- Display Add cymbals window -->
            
            <!-- Display Add cymbalPacks window -->
            <div id="addCymbalPacksWindow"></div>
            <!-- Display Add cymbalPacks window -->
        </div>
    </div>
</div>