<div class="row"></div>
<div class="container">
    <div class="row center-align">
        <a href="/viewAll">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-search-plus"> View All</i>
            </div>
        </div>
        </a>
        <a href="/checkGross">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-file-invoice-dollar"> Check Gross</i> 
            </div>
        </div>
        </a>
        <a href="/newItem">
            <div class="col s12 m6">
                <div class="card-panel hoverable">
                    <i class="fas fa-plus"> New Item</i>
                </div>
            </div>
        </a>
        <a href="/newPackage">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-folder-plus"> New Package</i>
            </div>
        </div>
        </a>
        <a href="/itemIn">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-plus-square"> Item IN</i> 
            </div>
        </div>
        </a>
        <a href="/itemOut">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-minus-square"> Item OUT</i>
            </div>
        </div>
        </a>
    </div>
</div>