<div class="row"></div>
<div class="container">
    <div class="row center-align">
        <a href="/newItem">
            <div class="col s12 m6">
                <div class="card-panel hoverable">
                    <i class="fas fa-plus"> New Item</i>
                </div>
            </div>
        </a>
        <a href="/newPackage">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-folder-plus"> New Package</i>
            </div>
        </div>
        </a>
        <a href="/itemIn">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-plus-square"> Item IN</i> 
            </div>
        </div>
        </a>
        <a href="/itemOut">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-minus-square"> Item OUT</i>
            </div>
        </div>
        </a>
        <a href="/viewAll">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-search-plus"> View All</i>
            </div>
        </div>
        </a>
        <a href="/checkGross">
        <div class="col s12 m6">
            <div class="card-panel hoverable">
                <i class="fas fa-file-invoice-dollar"> Check Gross</i> 
            </div>
        </div>
        </a>
    </div>
</div>


{{!-- <div id="mainSearchPage" class="container center">
    <div class="row margin_zero">
        <div class="col s12 m6 l6 btnMainPage">
            <a href="/newItem"><i class="fas fa-plus" style="padding-top: 25px;"></i> New Item</a>
        </div>
        <div class="col s12 m6 l6 btnMainPage">
            <a href="/newPackage"><i class="fas fa-folder-plus" style="padding-top: 25px;"></i> New Package</a>
        </div>
    </div>
    <div class="row margin_zero">
        <div class="col s12 m6 l6 btnMainPage">
            <a href="/itemIn"><i class="fas fa-plus-square" style="padding-top: 25px;"></i> ITEM IN</a>
        </div>
        <div class="col s12 m6 l6 btnMainPage">
            <a href="/itemOut"><i class="fas fa-minus-square" style="padding-top: 25px;"></i> ITEM OUT</a>
        </div>
    </div>
    <div class="row margin_zero">
        <div class="col s12 m6 l6 btnMainPage">
            <a href="viewItems"><i class="fas fa-search-plus" style="padding-top: 25px;"></i> VIEW ITEMS</a>
        </div>
        <div class="col s12 m6 l6 btnMainPage">
            <a href="checkGross"><i class="fas fa-file-invoice-dollar" style="padding-top: 25px;"></i> CHECK GROSS</a>
        </div>
    </div>
</div> --}}