{{!-- <div class="row"></div>
<div class="container">
    <div class="row center-align">
        <a href="/newcymbals" id = "cymbal-menu-On-newitem">
            <div class="col s12 m4">
                <div class="card-panel hoverable menuOnView">
                    <i class="fas fa-plus">Add Cymbal</i>
                </div>
            </div>
        </a>
        <a href="/newshureparts" id = "shure-menu-On-newitem">
            <div class="col s12 m4">
                <div class="card-panel hoverable menuOnView">
                    <i class="fas fa-plus">Add Shure Part</i>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row"></div> --}}