<div class="container center" style="margin-bottom: 2%;">
    <div class="row">
        <h3 class="" style="margin-bottom: 2%;">New Package</h3>
    </div>
    <div class="row">
        <div>
        <a href="/uploadCSV" class="left btn black-text blue lighten-4 waves-effect" style="margin-bottom: 50px;">Upload CSV file</a>
        </div>
        <form class="col s12 m12 l12 newPackage">
            <div class="row">
                <div class="col s12 m2">
                    <label for="category" class="left black-text">Category <sup><i
                                class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
                <div class="col s12 m10">
                    <select name="category" class="browser-default post_input_boader validateCat" id="category">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="Zildjian">Zildjian</option>
                        <option value="Sabian">Sabian</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Description" id="description_input" type="text" class="validate"
                        required="true">
                    <label for="Description" class="black-text">Description<sup><i
                                class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Description" id="product_Code_input" type="text" class="validate"
                        required="true">
                    <label for="Description" class="black-text">Product Code<sup><i
                                class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Description" id="dealer_Price_input" type="text" class="validate"
                        required="true">
                    <label for="Description" class="black-text">Dealer Price<sup><i
                                class="fas fa-star-of-life red-text starIcon"></i></sup></label>
                </div>
            </div>
            <button id="addCategoryBtn" class="btn black-text blue lighten-4 waves-effect">Add</button>
        </form>
    </div>
</div>

