<div class="row" id="fixedScreenSize">
    <div class="col s2 m2 l2" id="leftMenu">
        <div class="main-menu">
            <a href="/">
                <p class="leftMenuLetter"><i class="fas fa-columns iconMargin"></i> Dashboard</p>
            </a>
            <a href="/cymbals">
                <p class="leftMenuLetter"><i class="fas fa-bullseye iconMargin"></i> Cymbals</p>
            </a>
            <a href="#">
                <p class="leftMenuLetter"><i class="fas fa-concierge-bell iconMargin"></i> Orders</p>
            </a>
            <a href="#">
                <p class="leftMenuLetter"><i class="fas fa-shopping-bag iconMargin"></i> Purchase</p>
            </a>
            <a href="#">
                <p class="leftMenuLetter"><i class="fas fa-boxes iconMargin"></i> Products</p>
            </a>
            <a href="#">
                <p class="leftMenuLetter"><i class="fas fa-undo-alt iconMargin"></i> Returns</p>
            </a>
        </div>
    </div>
    <div class="col s10 m10 l10" id="rightMenu">
        ORDERS PAGE
    </div>
</div>

{{!-- 
curl -X POST 'https://api.sandbox.ebay.com/identity/v1/oauth2/token' \
  -H 'Content-Type: application/x-www-form-urlencoded' \
  -H 'Authorization: Basic PEpFSFlVTkpVLWludmVudG9yLVNCWC04NzM2YjE5YWYtNmJiN2I5Mjc+OjxTQlgtNzM2YjE5YWZhNTZjLTIzYzUtNDViZi1hNTk3LTViNGEJPg==' \
  -d 'grant_type=client_credentials&scope=https%3A%2F%2Fapi.ebay.com%2Foauth%2Fapi_scope' --}}