<div class="row" id="fixedScreenSize">
    <div class="col s2 m2 l2" id="leftMenu">
        <div class="main-menu">
            <a href="/">
                <p class="leftMenuLetter"><i class="fas fa-columns iconMargin"></i> Dashboard</p>
            </a>
            <a href="/cymbals">
                <p class="leftMenuLetter"><i class="fas fa-bullseye iconMargin"></i> Cymbals</p>
            </a>
            <a href="/orders">
                <p class="leftMenuLetter"><i class="fas fa-concierge-bell iconMargin"></i> Orders</p>
            </a>
            <a href="#">
                <p class="leftMenuLetter"><i class="fas fa-shopping-bag iconMargin"></i> Purchase</p>
            </a>
            <a href="#">
                <p class="leftMenuLetter"><i class="fas fa-boxes iconMargin"></i> Products</p>
            </a>
        </div>
    </div>
    <div class="col s10 m10 l10" id="rightMenu">


<div class="">
	<header class="row">
		<h4>Upload your CSV File for Cymbals</h4>
	</header>

	<div class="row">
		<form>
			<input type="file" name="File Upload" id="csvFile-Cymbal-Upload" accept=".csv" />
			<button type="submit" id="checking-csv-btn-cymbal">Check the file</button>
		</form>
	</div>
	<div class="row" id="documentTemplate">
		<h5>Document Template</h5>
		<table>
		<tr>
			<th>category01</th>
			<th>category02</th>
			<th>size</th>
			<th>description</th>
			<th>code</th>
			<th>qty</th>
			<th>ebay_price</th>
			<th>website_price</th>
			<th>group_id</th>
		</tr>
		<tr>
			<td>Zildjian</td>
			<td>Crash</td>
			<td>17</td>
			<td>K Custom hybrid </td>
			<td>K1217</td>
			<td>2</td>
			<td>207</td>
			<td>207</td>
			<td>2</td>
		</tr>
		<tr>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
			<td>...</td>
		</tr>
		</table>
	</div>
	<div class="row" id="cymbal-Uploaded">
		<button type="submit" class="btn white-text waves-effect blue" id="upload-cymbal-csv-btn" style="margin: 10px 0;">Upload the file</button>
		<table id="table-cymbal-Uploaded">
		<tr>
			<th>Category01</th>
			<th>Category02</th>
			<th>Size</th>
			<th>Description</th>
			<th>Code</th>
			<th>QTY</th>
			<th>eBay Price</th>
			<th>Website Price</th>
			<th>Group Code</th>
		</tr>
		</table>
	</div>
</div>
</div>